#header {
    /*# é id*/
    background-color: green;
    /*cor da margem*/
    color: white;
    /*cor da letra*/
    font-family: helvetica;
    padding: 10px;
    /*padding é para definir margem*/
    text-align: left;
    /*alinhar a escreita*/
}

.highlight {
    /*. é class*/
    color: red;
    font-weight: bold;
    font-size: 18px;
}

p {
    /*tag*/
    font-family: 'Courier New', Courier, monospace;
}